body, html {
    background-color: Linen;
    font-family: 'Roboto';
}

#deck {
    position: fixed;
    bottom: 1%;
    width: 100%;  
    text-align: center;
}
.card {
    width: 150px;
    height: 200px;
    border: 4px solid Linen;
    background-color: Linen;
    margin: 0 auto;
    display: inline-block; 
    transition: 0.5s; 
    opacity: 0.8;
    font-size: 75px;
    text-align: center;
}

.card:hover {
    transform: translateY(-20px);
    opacity: 1;
    cursor: pointer;
}

.card:active {
    transform: translateY(-40px);
}

.Enemystats {
    float: right;
}